<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authors</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <th>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </th>
    <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.getId()}"></td>
            <td th:text="${author.getFirstName()} + ' ' + ${author.getLastName()}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>